{% extends "base.html" %}

{% block content %}
    <img src="https://i.postimg.cc/8PMK8ZtS/totoro-theme-ad16-2.jpg" width=200px;>
    <h2>Kontakt:</h2>
    <ul>
        <li><strong>email:</strong> kinga@magic.eu</li>
        <li><strong>telefon:</strong> 575 585 595</li>          
    </ul>
    <h2>Wyślij mi sowę!</h2>
    <form action="/mypage/contact" method="POST">
        <textarea placeholder="Wpisz swoją wiadomość..." type="text" name="message"></textarea>
        <br>
        <button type="submit">wysyłam...</button>
    </form>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    
    {% endfor %}
{% endblock %}
